body{
    background-color: #F0F2F5;
}

div{
    width: 450px;
    height: 280px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

hr{
    width: 100%;
}

h1{
    text-align: left;
}

p{
    text-align: left;
}

#emailorphone{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: 0.2px solid #DDDFE2;
}

#cancelbtn{
    width: 70px;
    height: 30px;
    color: #4B4F56;
    background-color: #E4E6EB;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-decoration: none;
}

#searchbtn{
    width: 70px;
    height: 30px;
    color: #FFFFFF;
    background-color: #1877F2;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}